.sidebar {
    width: 4rem;
    border-right: 1px solid #e0e0e0;
    transition: width 0.4s ease-in-out 0.4s;

    .elhidden {
        height: 0%;
    }
}

.sidebar:hover {
    width: 24rem;

    .elhidden {
        display: block;
    }
}