.sidebar {
    width: 4rem;
    border-right: 1px solid #e0e0e0;
    transition: width 0.4s ease-in-out;

    .elhidden {
        opacity: 0;
        height: 0%;
        transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
    }

    .litext {
        display: none;
    }
}

.sidebar:hover {
    width: 24rem;

    .elhidden {
        opacity: 1;
        height: auto;
    }

    .litext {
        display: block;
    }
}