.filterbutton {
    background-color: rgba(229, 229, 229, 0.411) ;
    color: #c1a95e;
    border-radius: 0.33rem;
    width: auto;
    padding-left: 0.05rem;
    padding-right: 10rem;
    margin-bottom: 5px;;
    display: flex;
    align-items: center;
}

.Estado {
    border: 1px solid #e6e6e6;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 0.33rem;

}
.Precio {
    border: 1px solid #e6e6e6;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 0.33rem;
}
.Ubicacion{
    border: 1px solid #e6e6e6;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 0.33rem;
}
.M2 {
    border: 1px solid #e6e6e6;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 0.33rem;
}

.borderoptions {
    border: 3px solid #c1a95e;
    border-radius: 0.60rem;
    padding: 1;
    margin-bottom: 0.5rem;
    border-color: #faeed9;
    width: 100%;
    gap: 1rem;
    padding-top: 0.33rem;
    padding-bottom: 0.33rem;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.icon {
    width: 0.80rem;
    height: 0.80rem;
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}

.filteropen {
    transform: rotate(0deg);
}